#sidebar {
  height: 100vh;
  background-color: sandybrown;
  position: fixed;
  @media screen and (max-width: 768px) {
    height: unset;
    background-color: unset;
    position: unset;
  }
  .list-unstyled {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    @media screen and (min-width:768px) and (max-width:991px){
      width: 30%;
    }
  }
}
.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.form-group {
  input,
  select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
  }
}
.select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  border: 1px solid #ced4da !important;
}

table {
  margin-top: 25px;
}
.movieTable {
  thead {
    th {
      vertical-align: middle;
      text-align: center;
    }
  }
  td {
    display: table-cell;
    padding: 16px;
    font-size: 0.875rem;
    text-align: left;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    vertical-align: inherit;
  }
  .text__description--ellipse {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .action_movie {
    display: flex;
  }
}
.flex-form {
  display: flex;
}
.action_button {
  display: flex;
  justify-content: flex-end;
}
