.cinemaComplexAll {
  // @media screen and (max-width: 768px) {
  //   width: 738px;
  //   margin: 0 auto;
  // }
  background-image: url("https://tix.vn/app/assets/img/icons/back-news.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 100px;
  padding-bottom: 40px;
  padding-right: 15px;
}
#cinemaComplex {
  @media screen and (min-width: 992px) {
    @include maxWidth;
  }
  .col-1 {
    .listCinemas {
      list-style: none;
      margin: 0;
      border: 1px solid #ebebec;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      min-height: 705px;
      width: 92px;
      padding: 0;
      @media screen and (max-width: 768px) {
        width: 74px;
      }
      li {
        a {
          padding: $pd-3;
          position: relative;
          display: block;
          width: 90px;
          height: 90px;
          @media screen and (max-width: 768px) {
            width: 75px;
            height: 75px;
          }
          img {
            width: 100%;
            opacity: 0.5;
            transition: 0.2s all;
            &:hover {
              opacity: 1;
            }
          }
          &::after {
            @include borderBottom;
          }
        }
      }
    }
  }

  .col-3 {
    position: relative;
    .cinemas {
      border-top: 1px solid $color-border-2;
      border-bottom: 1px solid $color-border-2;
      height: 705px;
      overflow-x: hidden;
      .cinema_item {
        padding: $pd-3 - 5 $pd-2 + 5 0 $pd-3;
        position: relative;
        opacity: 0.5;
        transition: 0.2s all;
        img {
          width: 55px;
        }
        .cinema_info {
          margin-left: $mg-1;
          overflow: hidden;
          h4 {
            @include text($color-green-2, $fs-2, $fw-2);
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            span {
              @include text($color-black, $fs-2, $fw-2);
            }
          }
          p {
            @include text($color-gray-2, $fs-1 - 1, $fw-1);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .a {
            @include text($color-primary, $fs-1 - 1, $fw-1);
          }
        }
        &::after {
          @include borderBottom;
        }
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .col-8 {
    .listMovies {
      max-height: 705px;
      border: 1px solid #ebebec;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      position: relative;
      overflow-y: auto;
      overflow-x: hidden;
      .wrapMovie {
        padding: $pd-3 $pd-2 $pd-3 - 3 $pd-3;
        .wrapInfo {
          img {
            width: 50px;
          }
          .info {
            margin-left: $mg-2 - 5;
            .ageType {
              @include type($color-primary);
              margin-right: 2px;
            }
            span {
              @include text($color-black, $fs-2, $fw-2);
            }
            p {
              @include text($color-gray, $fs-1 - 1, $fw-1);
              margin-bottom: 0;
            }
          }
        }
      }

      .wrapSession {
        padding: $pd-2 0;
        border-bottom: 1px solid #fff;
        border-color: rgba(238, 238, 238, 0.88);
        .listTypeTime {
          h4 {
            @include text($color-black, $fs-2 + 2, $fw-2);
            margin-bottom: $mg-1;
          }

          a {
            width: calc(23% - 6px);
            margin: 0 16px 20px 0;
            padding: 5px 0;
            transition: all 0.2s;
            text-decoration: none;
            display: inline-block;
            text-align: center;
            background-color: rgba(246, 246, 246, 0.5);
            border-radius: 7px;
            border: 1px solid #e4e4e4;
            @include text($color-gray, $fs-3, $fw-2);
            span {
              @include text($color-green-3, $fs-2, $fw-2);
              transition: 0.2s all;
              &:hover {
                color: $color-primary;
              }
            }
            @media screen and (max-width: 768px) {
              width: calc(30% - 6px);
            }
          }
        }
      }
    }
  }
}
