.signin {
  height: 100vh;
  margin-top: -60px;
  background-image: url("https://tix.vn/app/assets/img/icons/bg2.jpg");
  background-size: cover;
  background-position: center;
  @media screen and(max-width:576px){
    height: unset;
  }
  .sign-wrapper {
    @media screen and (max-width:576px){
      height: 100vh !important;
      top: 50% !important;
      max-width: 100%;
      border-radius: unset;
    }
    max-width: 360px;
    padding: 30px 32px 30px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(
      to bottom,
      rgba(20, 50, 93, 0.9),
      rgba(8, 22, 48, 0.9)
    );
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
    text-align: center;
    color: #fff;
    border-radius: 6px;
    .signin-message {
      margin-bottom: 30px;
    }
    .signin-header {
      width: 209px;
      margin-bottom: 70px;
      cursor: pointer;
      form {
        padding: 0 1.5em;
      }
    }
    .form-item {
      margin-bottom: 0.75em;
      width: 100%;
      input {
        padding: 15px;
        background: #fafafa;
        border: none;
        border-bottom: 2px solid #e9e9e9;
        color: #666;
        font-family: "Open Sans", sans-serif;
        font-size: 1em;
        height: 50px;
        transition: border-color 0.3s;
        width: 100%;
        &:focus {
          border-bottom: 2px solid #c0c0c0;
          outline: none;
        }
      }
    }
    .button-panel {
      margin: 2em 0 0;
      width: 100%;
      .button {
        background: #bb3433;
        border: none;
        color: #fff;
        cursor: pointer;
        height: 50px;
        font-size: 1.2em;
        letter-spacing: 0.05em;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        transition: .3s all;
      }
    }
    .button {
      &:hover {
        background: #fb4226;
      }
    }
    .form-footer {
      font-size: 1em;
      padding: 1.5em 0;
      text-align: center;
      a {
        color: #8c8c8c;
        text-decoration: none;
        transition: border-color 0.3s;
        &:hover {
          border-bottom: 1px dotted #8c8c8c;
        }
      }
    }
    .signin-close {
      opacity: 1;
      position: absolute;
      top: -18px;
      right: -18px;
      width: 36px;
      height: 36px;
      border-radius: 50%;
      background-color: #081630;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
      content: "";
      cursor: pointer;
      &::before {
        content: "";
        display: block;
        border-left: 2px solid #455570;
        width: 2px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
      &::after{
        content: "";
        display: block;
        border-left: 2px solid #455570;
        width: 2px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate(45deg);
      }
      @media screen and(max-width:576px){
        top: 10px !important;
        right: 10px !important;
      }
    }
  }
}