.logo__loading {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    display: none;
    visibility: hidden;
    &.active {
      display: block;
      visibility: visible;
    }
    &__img {
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translate(-50%, -50%));
      img {
        @include animation(Rotate3d 3s infinite);
      }
    }
  }

  @keyframes Rotate3d {
    from {
      opacity: 1;
      @include transform( scale3d(1,1,1));
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      @include transform(scale3d(1.1,1.1,1.1) rotate3d(0,0,1,7deg));
    }
    20%,
    40%,
    60%,
    80% {
      @include transform(scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-7deg));
    }
    to {
      opacity: 0;
      @include transform(scale3d(1,1,1));
    }
  }