.signin {
    height: 100vh;
    margin-top: -60px;
    background-image: url("../../assets/image/bgLogin.jpg");
    background-size: contain;
    background-position: center;
    .sign-wrapper {
      width: 100%;
      height: auto;
      padding: 30px 32px 60px;
      position: absolute;
      top: 54%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: linear-gradient(
        to bottom,
        rgba(20, 50, 93, 0.9),
        rgba(8, 22, 48, 0.9)
      );
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45);
      text-align: center;
      color: #fff;
      @media screen and (max-width:576px){
        padding: 70px 32px 60px;
      }
      .form-item {
        height: 70px;
        width: 100%;
        input {
          padding: 15px;
          background: #fafafa;
          border: none;
          border-bottom: 2px solid #e9e9e9;
          color: #666;
          font-family: "Open Sans", sans-serif;
          font-size: 1em;
          height: 50px;
          transition: border-color 0.3s;
          width: 100%;
          border-radius: 5px;
          &:focus {
            border-bottom: 2px solid #c0c0c0;
            outline: none;
          }
        }
        .form-select{
            padding: 10px;
            background: #fafafa;
            border: none;
            border-bottom: 2px solid #e9e9e9;
            color: #666;
            font-family: "Open Sans", sans-serif;
            font-size: 1em;
            height: 50px;
            transition: border-color 0.3s;
            width: 100%;
            outline: none;
            border-radius: 5px;
        }
      }
      .button-panel {
        margin: 1em 0 0;
        width: 100%;
        .button {
          background: #bb3433;
          border: none;
          color: #fff;
          cursor: pointer;
          height: 50px;
          font-size: 1.2em;
          letter-spacing: 0.05em;
          text-align: center;
          text-transform: uppercase;
          width: 100%;
          transition: .3s all;
        }
      }
      .button {
          font-weight: 700;
        &:hover {
          background: #fb4226;
        }
      }
      .signin-close {
        opacity: 1;
        position: absolute;
        top: -18px;
        right: -18px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-color: #081630;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
        content: "";
        cursor: pointer;
        &::before {
          content: "";
          display: block;
          border-left: 2px solid #455570;
          width: 2px;
          height: 16px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(-45deg);
        }
        &::after{
          content: "";
          display: block;
          border-left: 2px solid #455570;
          width: 2px;
          height: 16px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%) rotate(45deg);
        }
      }
    }
  }